<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>SpellTalking</servlet-name>
		<servlet-class>spelltalking.SpellTalkingServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TokenServlet</servlet-name>
		<servlet-class>spelltalking.TokenServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TokenServlet</servlet-name>
		<url-pattern>/gettoken</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SpellTalking</servlet-name>
		<url-pattern>/spelltalking</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
       <servlet-name>MessageServlet</servlet-name>
       <servlet-class>spelltalking.MessageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>MessageServlet</servlet-name>
       <url-pattern>/message/*</url-pattern>
    </servlet-mapping>
    
     <servlet>
       <servlet-name>FriendServlet</servlet-name>
       <servlet-class>spelltalking.FriendServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>FriendServlet</servlet-name>
       <url-pattern>/getFriendList/*</url-pattern>
    </servlet-mapping>
    <servlet>
       <servlet-name>ConnectionHandlerServelet</servlet-name>
       <servlet-class>spelltalking.ConnectionHandlerServelet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>ConnectionHandlerServelet</servlet-name>
       <url-pattern>/_ah/channel/connected/</url-pattern>
       <url-pattern>/_ah/channel/disconnected/ </url-pattern>
    </servlet-mapping>
     <servlet>
       <servlet-name>SettingsServlet</servlet-name>
       <servlet-class>spelltalking.SettingsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
       <servlet-name>SettingsServlet</servlet-name>
       <url-pattern>/settings/*</url-pattern>      
    </servlet-mapping>
    	
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
<security-constraint>
<web-resource-collection>
<web-resource-name>index</web-resource-name>
<url-pattern>/*</url-pattern>
</web-resource-collection>
<auth-constraint>
<role-name>*</role-name>
</auth-constraint>
</security-constraint>
<security-constraint>
   <web-resource-collection>
      <url-pattern>/googlecb7d0dd574e6a9a2.html</url-pattern>
   </web-resource-collection>
</security-constraint>
</web-app>